# To prevent storing target and other directories
logs
target
.idea
.idea_modules
.classpath
.settings

# To prevent storing all the CSV and JSON files
data

# To prevent storing pgdata from postgres container
/pgdata/

# To prevent storing docs and readme files
doc
Overview.md
README.md

# To prevent storing git files
.gitignore
.git

# To prevent storing dev/temporary container data
tmp
.DS_Store

# Not sure why this file is not covered by target
project/target/sbt-load.sock